@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: rgb(251, 250, 250);
}

body {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 80vw;
}

h1 {
  font-size: clamp(2.9em, 9vw, 7em);
}

span {
  font-size: clamp(0.8em, 2vw, 1em);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f19f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8888887a;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
